
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <ul>
        @for(int i=1; i <= ViewBag.d; i++)
        {
            <li>click_@i</li>
        }
    </ul>
</body>
</html>
